<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	    http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd 
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
	   <!-- 配置spring扫描包，如果有多个包，用逗号隔开 -->
	<context:component-scan base-package="com.dao,com.service,com.pojo"/>
	<!-- 设置为true:启用cglib代理（基于类），设置为false:启用jdk代理（基于接口） -->
	<aop:aspectj-autoproxy/>
    <!-- 为数据源添加事务管理器 -->
   <bean id="txManager"   
     class="org.springframework.jdbc.datasource.DataSourceTransactionManager">   
	     <property name="dataSource" ref="dataSource" />   
   </bean> 
   <!-- 为事务管理器注册注解驱动 -->
   <tx:annotation-driven transaction-manager="txManager"/>
   <context:property-placeholder location="classpath:db.properties"/>
   <!-- 配置数据源 -->
   <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
	<property name="driverClassName" value="${jdbc.driver}" />
	<property name="url" value="${jdbc.url}" />
	<property name="username" value="${jdbc.username}" />
	<property name="password" value="${jdbc.password}" />
	<!--初始化连接池大小-->
  	<property name="initialSize" value="5"/>
  	<property name="maxTotal" value="20"/>
  	<!--连接池最小空闲-->
  	<property name="minIdle" value="0"/>
  	<!--获取连接池最大等待时间-->
  	<property name="maxWaitMillis" value="1"/>
    </bean>
     <!-- 配置MyBatis工厂，同时指定数据源，并与MyBatis完美整合 -->  
     <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
      <property name="dataSource" ref="dataSource" />  
	 <!-- configLocation的属性值为MyBatis的核心配置文件 -->
	 <property name="configLocation" value="classpath:SqlMapConfig.xml"/>
 </bean>
 <!--Mapper代理开发，使用Spring自动扫描MyBatis的接口并装配
 有两种方式：
 	1.单个配置接口
 	2.直接配置包 :推荐
 	--> 
 <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
     <!-- mybatis-spring组件的扫描器。com.dao只需要接口（接口方法与SQL映射文件中相同）-->
     <property name="basePackage" value="com.dao"/>
     <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
 </bean>
</beans>    